<!DOCTYPE html>
<html lang=""
      layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="lg:grid lg:grid-cols-2 gap-4">
            <!--primera-columna-->
            <div class="p-4">
                <!--primera-fila-->
                <div class="p-2 lg:p-4 lg:my-6">
                    <!--===================DATOS-PERSONALES===================-->
                    <h2 class="text-xl lg:text-2xl text-gray-600 italic">Bienvenid@</h2>
                    <h1 class="text-2xl lg:text-4xl font-semibold italic" th:text="${alumno.getNombreAlumno()}"></h1>
                    <h1 class="mt-6 text-gray-600 text-xl font-semibold italic" th:text="${alumno.getCarrera()+' '+alumno.getEspecialidad()}"></h1>
                </div>
                <!--segunda-fila-->
                <div class="mt-10 lg:p-4">
                    <!--=====================COMUNICADOS======================-->
                    <h3 class="text-xl bg-purple-200 text-purple-700 px-4 py-2 mt-4 rounded-lg font-bold lg:w-1/2 text-center">COMUNICADOS</h3>
                    <div class="mt-4 space-y-3">
                        <div class="bg-gray-100 p-3 rounded-lg">• Desde el 4 al 27 de febrero no habrá atención en ... </div>
                        <div class="bg-gray-100 p-3 rounded-lg">• Se ampliará la fecha de pagos hasta el 2 de marzo.</div>
                        <div class="bg-gray-100 p-3 rounded-lg">• Para corrección de datos comuníquese con ...</div>
                        <div class="bg-gray-100 p-3 rounded-lg">• Las matrículas para el 2025-I finalizan el 28 de febrero.</div>
                        <div class="bg-gray-100 p-3 rounded-lg">• Recuerde pagar sus cuotas a tiempo.</div>
                    </div>
                </div>
            </div>
            <!--segunda-columna-->
            <div class="p-4 flex justify-center">
                <!--=================ACCESOS-Y-ENLACES-EXTERNOS=================-->
                <div class="mt-6 bg-white p-4 rounded-lg shadow-md w-80 md:w-1/2 lg:w-80 lg:h-64">
                    <h3 class="font-semibold">¿Qué podrás hacer aquí?</h3>
                    <ul class="list-disc list-inside text-sm mt-2 text-center">
                        <li>VERIFICAR REPORTE DE NOTAS</li>
                        <li>VERIFICAR REPORTE DE PAGOS</li>
                    </ul>
                    <h4 class="mt-4 font-semibold">Enlaces externos:</h4>
                    <ul class="list-disc list-inside text-blue-500 text-sm space-y-1 mt-2">
                        <li><a href="#">Reglamento Escuela de Posgrado</a></li>
                        <li><a href="#">Reglamento Escuela de Posgrado</a></li>
                        <li><a href="#">Reglamento Escuela de Posgrado</a></li>
                        <li><a href="#">Reglamento Escuela de Posgrado</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--imagen-posgrado-->
        <div class="lg:absolute lg:bottom-0 lg:right-0 w-screen lg:w-1/2 opacity-50 lg:mb-24">
            <img th:src="@{/images/image-dashboard.png}" alt="posgrado" class="w-full h-auto">
        </div>
    </div>
</body>
</html>
