<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Perfil</title>
    <script>
        function validarContrasena() {
            var nueva = document.getElementById("nuevaContrasena").value;
            var confirmar = document.getElementById("confirmarContrasena").value;
            var mensaje = document.getElementById("mensajeError");

            if (nueva !== confirmar) {
                mensaje.innerText = "Las contraseñas no coinciden";
                mensaje.classList.remove("hidden");
                return false;
            } else {
                mensaje.classList.add("hidden");
                return true;
            }
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="grid grid-rows-auto gap-4 p-4">
        <div class="bg-blue-700 text-white p-4 rounded-lg shadow-md">
            <p>
                Si usted desea modificar los datos mostrados en esta ficha, presione en el botón Modificar y proceda a editar los campos que serán habilitados.
                Una vez concluida la edición de sus datos, es necesario que presione en el botón Guardar. Eso concluye el proceso de modificación de datos.
                Si desea salir del modo edición, presione en Cancelar.
            </p>
        </div>

        <div class="p-4">
            <div class="grid grid-cols-2 gap-4">

                <!--Perfil de usuario-->
                <div class="bg-white overflow-hidden shadow rounded-lg border">
                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Perfil de Usuario
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            Información personal del estudiante
                        </p>
                    </div>
                    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                        <dl class="sm:divide-y sm:divide-gray-200">
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-lg font-medium text-gray-500">
                                    DNI
                                </dt>
                                <dd class="mt-1 text-lg text-gray-900 sm:mt-0 sm:col-span-2">
                                    71723463
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Nombre completo
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    John Doe
                                </dd>
                            </div>

                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Fecha Nacimiento
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    1974-07-24 00:00:00
                                </dd>
                            </div>

                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Correo Electrónico
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    johndoe@example.com
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Teléfono
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    (123) 456-7890
                                </dd>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Dirección
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    123 Main St<br>
                                    Anytown, USA 12345
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>


                <div class="grid grid-rows-auto gap-4">
                    <div class="bg-white p-4 rounded-lg shadow-md">
                        <h2 class="text-lg font-bold mb-2">Datos de Usuario</h2>
                        <form onsubmit="return validarContrasena()">
                            <label class="block">Usuario:</label>
                            <input type="text" class="border rounded w-full p-2" value="usuario123" disabled>

                            <label class="block mt-2">Nueva Contraseña:</label>
                            <input type="password" id="nuevaContrasena" class="border rounded w-full p-2">

                            <label class="block mt-2">Confirmar Nueva Contraseña:</label>
                            <input type="password" id="confirmarContrasena" class="border rounded w-full p-2">

                            <p id="mensajeError" class="text-red-500 hidden mt-2"></p>

                            <button type="submit" class="bg-blue-500 text-white px-4 py-2 mt-4 rounded">Guardar</button>
                        </form>
                    </div>
                    <div class="bg-yellow-300 p-4 rounded-lg shadow-md text-center">
                        <p>Solo podrá cambiar la contraseña una sola vez cada 30 días.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
