<!DOCTYPE html>
<html lang=""
      layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pagos</title>
</head>

<body>

<div layout:fragment="content">

    <!-- ============================================Información Superior============================================ -->
    <div class="m-auto md:grid md:grid-cols-2 md:gap-8">
        <!---------------------------Información-del-alumno--------------------------->
        <div class="bg-white shadow-md rounded-lg overflow-hidden flex flex-col justify-center">
            <!-- Encabezado -->
            <div class="bg-gray-200 px-4 py-2 font-bold text-center">
                Información del alumno
            </div>
            <!-- Contenido -->
            <div class="px-6 flex flex-col justify-center h-full">
                <div class="flex border-b py-2">
                    <strong class="pl-5 w-30 min-w-[130px]">Código:</strong>
                    <span class="text-left flex-1" th:text="${reporte.codigo}"></span>
                </div>
                <div class="flex border-b py-2">
                    <strong class="pl-5 w-30 min-w-[130px]">Nombre:</strong>
                    <span class="text-left flex-1"
                          th:text="${
                          reporte.persona.nombres+' '+
                          reporte.persona.getApellidoPaterno()+' '+
                          reporte.persona.getApellidoMaterno()}"/>
                </div>
                <div class="flex py-2">
                    <strong class="pl-5 w-30 min-w-[130px]">Programa:</strong>
                    <span class="text-left flex-1"
                          th:text="${reporte.getCarrera().getNombre()+' '+reporte.getEspecialidad().getDescripcion()}"/>
                </div>
            </div>
        </div>

        <!---------------------------Información-del-académica--------------------------->
        <div class="bg-white shadow-md rounded-lg overflow-hidden flex flex-col justify-center">
            <!-- Encabezado -->
            <div class="bg-gray-200 px-4 py-2 font-bold text-center">
                Información académica
            </div>
            <!-- Contenido -->
            <div class="px-6 flex flex-col justify-center h-full">
                <div class="flex border-b py-2">
                    <strong class="pl-5 w-48 min-w-[130px]">Tipo programa:</strong>
                    <span class="text-left flex-1" th:text="${reporte.getCarrera().getTipoCarrera()}"></span>
                </div>
                <div class="flex border-b py-2">
                    <strong class="pl-5 w-48 min-w-[130px]">Curricula:</strong>
                    <span class="text-left flex-1" th:text="${reporte.getCurricula().getNombre()}"></span>
                </div>
                <div class="flex border-b py-2">
                    <strong class="pl-5 w-48 min-w-[130px]">Estado alumno:</strong>
                    <span class="text-left flex-1" th:text="REGULAR"></span>
                </div>
                <div class="flex py-2">
                    <strong class="pl-5 w-48 min-w-[130px]">Deudor:</strong>
                    <span class="text-left flex-1" th:text="NO"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- linea-separadora-->
    <hr class="mt-6 border border-white shadow-2xl">
    <!-- linea-separadora-->

    <!-- ============================================Información Inferior============================================ -->
    <div class="m-auto">

        <!-- Encabezado -->
        <div class="mt-6 bg-[#6870A3] text-white text-center p-3 rounded-t-lg text-lg font-bold">
            INFORMACIÓN DE PAGOS
        </div>

        <!-- Contenedor FLEX para alinear los elementos horizontalmente -->
        <div class="lg:flex mt-4 lg:space-x-6 text-center space-y-6 lg:space-y-0">

            <!-- Detalle de pagos -->
            <div class="overflow-hidden flex-1 overflow-y-auto overflow-x-auto" style="max-height: calc(8 * 3rem);">
                <table class="table-auto w-full border-separate border-spacing-y-2">
                    <thead class="bg-gray-200 text-gray-700 sticky top-0">
                    <tr>
                        <th class="p-3">FECHA PAGO</th>
                        <th class="p-3">SEMESTRE</th>
                        <th class="p-3">NRO. DE RECIBO</th>
                        <th class="p-3">MONTO</th>
                        <th class="p-3">LUGAR DE PAGO</th>
                        <th class="p-3">ESTADO</th>
                    </tr>
                    </thead>
                    <tbody class="bg-transparent">
                    <tr th:each="pago : ${reporte.pagoDetalle}" class="bg-white hover:bg-gray-200 rounded-lg">
                        <td class="p-3" th:text="${#dates.format(pago.getFecha(), 'dd/MM/yyyy')}"></td>
                        <td class="p-3" th:text="${pago.getSemestre()}"></td>
                        <td class="p-3" th:text="${pago.getRecibo()}"></td>
                        <td class="p-3" th:text="${'S/. '+pago.getMonto()}"></td>
                        <td class="p-3" th:text="${pago.getLugarPago()}"></td>
                        <td class="p-3" th:text="Pagado"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Resumen General -->
            <div class="bg-white text-left shadow-md rounded-lg p-6 lg:w-1/4 border border-[#6870A3] h-64 flex flex-col justify-center mx-4">
                <h3 class="text-lg font-bold mb-5">Resumen General:</h3>

                <div class="flex justify-between items-center">
                    <p class="w-2/3 min-w-[130px]">Costo total programa:</p>
                    <span class="flex-1 font-bold" th:text="${'S/. ' + reporte.resumenGeneral.getTotalPagoPrograma()}"></span>
                </div>
                <hr class="my-3">

                <div class="flex justify-between items-center">
                    <p class="w-2/3 min-w-[130px]">Total pagos realizados:</p>
                    <span class="flex-1 font-bold" th:text="${'S/. ' + reporte.resumenGeneral.getTotalPagosRealizados()}"></span>
                </div>
                <hr class="my-3">

                <div class="flex justify-between items-center text-lg">
                    <p class="w-2/3 min-w-[130px]">Total deuda hoy:</p>
                    <span class="flex-1 text-green-600 font-bold" th:text="${'S/. ' + (reporte.resumenGeneral.getTotalPagoPrograma() - reporte.resumenGeneral.getTotalPagosRealizados())}"></span>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>
